.container {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.row {
  display: flex;
  flex-grow: 1;
}
.square {
  flex-grow: 1;
  border: 1px solid black;
}
